<body>
    <!DOCTYPE html>
    <html lang="zxx">

    <!-- Mirrored from storage.googleapis.com/theme-vessel/auto-car-b4/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 Jun 2020 07:17:05 GMT -->

    <head>
        <title>Autocar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">

        <!-- External CSS libraries -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/animate.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-submenu.css">

        <link rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css">
        <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
        <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="fonts/flaticon/font/flaticon.css">
        <link rel="stylesheet" type="text/css" href="fonts/linearicons/style.css">
        <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.css">
        <link rel="stylesheet" type="text/css" href="css/dropzone.css">
        <link rel="stylesheet" type="text/css" href="css/slick.css">
        <link rel="stylesheet" type="text/css" href="css/lightbox.min.css">
        <link rel="stylesheet" type="text/css" href="css/jnoty.css">

        <!-- Custom stylesheet -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" id="style_sheet" href="css/skins/yellow.css">

        <!-- Favicon icon -->
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700%7CUbuntu:300,400,700"
            rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&amp;display=swap"
            rel="stylesheet">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link rel="stylesheet" type="text/css" href="css/ie10-viewport-bug-workaround.css">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script  src="js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="js/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script  src="js/html5shiv.min.js"></script>
        <script  src="js/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="page_loader"></div>

        <!-- Top header start -->
        <header class="top-header bg-active" id="top-header-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-7">
                        <div class="list-inline">
                            <a href="tel:1-8X0-666-8X88"><i class="fa fa-phone"></i>Besoin d'aide? 0766562381</a>
                            <a href="tel:info@themevessel.com"><i class="fa fa-envelope"></i>Autocar@gmail.com</a>
                        </div>
                    </div>
             
                  
                    
<!---->
                    <div class="site-navbar js-site-navbar">
                        <nav role="navigation">
                          <div class="container">
                            <div class="row full-height align-items-center">
                              <div class="col-md-12 justify-content-center">
                                <ul class="list-unstyled menu">
                                   <% if(userId) {%> 
                                    <li><a href="/auth/logout" class="animsition-link">Se deconnecter</a></li>
                                    <li><a href="/user/dashboard/<%= userId %>"class="animsition-link">editer</a></li>
                                  <%}else{%> 
                                    <li class="active"><a href="/auth/register" class="animsition-link">S'inscrire</a></li>
                                    <li><a href="/auth/login" class="animsition-link">Se connecter</a></li>
                                  <%}%>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </nav>
                      </div>
      
   
                </div>
            </div>
        </header>
        <!-- Top header end -->

        <!-- Main header start -->
        <header class="main-header sticky-header sh-2">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand company-logo-2" href="/">
                        <img src="img/logos/black-logo.png" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="navbar-collapse collapse w-100" id="navbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Home
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    liste des voitures
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">


                                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                            href="#">Détails de la voiture </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="car-details.html">Détails de la
                                                    voiture</a></li>

                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link" href="/contact.ejs">Contactez-nous</a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!-- Main header end -->





<!--
        <div class="col-lg-6 col-md-4 col-sm-5">
            <ul class="top-social-media pull-right">
                <li>
                    <a href="/auth/login" class="sign-in"><i class="fa fa-sign-in"></i>Se connecter</a>   
                </li>
                <li>
                    <a href="/auth/register" class="sign-in"><i class="fa fa-user"></i>S'inscrire</a>
                        
                </li>

            </ul>
        </div>

        ----->



